<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg-_TlPzG5LTMuwxDu704ImN3_nYZLRtw</string>
	<key>GCM_SENDER_ID</key>
	<string>409630499358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itstatus.sc</string>
	<key>PROJECT_ID</key>
	<string>sc01-de11f</string>
	<key>STORAGE_BUCKET</key>
	<string>sc01-de11f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409630499358:ios:88e92789499f3fcab2440f</string>
</dict>
</plist>